/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a188ad;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

/* Main Container */

.container {
    width: min(100%, 52rem);
    background-color: #ea9eea;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* Heading */

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

/* Subtitle */

.subtitle {
    text-align: center;
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* Input Section */

.input-section {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

/* Input */

#goalInput {
    flex: 1;
    padding: 0.85rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    outline: none;
}

#goalInput:focus {
    border-color: #2563eb;
}

/* Button */

#addGoalBtn {
    padding: 0.85rem 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addGoalBtn:hover {
    background-color: #1d4ed8;
}

/* Progress */

.progress-section {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

/* Goal List */

#goalList {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

#goalList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0.9rem 1rem;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.08);
}

#goalList button {
    background-color: #ff5c8a;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;
}

#goalList button:hover {
    background-color: #e63d70;
}

#goalList span {
    font-size: 1.05rem;
    font-weight: 500;
}

#goalList input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

.progressBar {
    width: 100%;
    height: 1rem;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.progressLevel {
    height: 1rem;
    width: 0%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}